[Unit]
Description=CRON timer for {{ nci.name }}

[Timer]
{# fragile code here because the "name" of each systemd list item could be any arbitrary string
   so please take care to update this match/search criteria if you change the name of the
   targeted systemd item #}
{{ nci.systemd | selectattr('name', 'search', 'cronjob') | map(attribute='timer.timer') | first }}
Unit={{ nci.name }}-cron.service

[Install]
WantedBy=timers.target
