<VirtualHost *:80>
   ServerAdmin {{ nci.superuser.email }}
   ServerName {{ nci.name }}
   DocumentRoot {{ nci.www.dir }}

   <Directory {{ nci.www.dir }}>
      Require all granted
      AllowOverride All
      Options FollowSymlinks MultiViews

      <IfModule mod_dav.c>
         Dav off
      </IfModule>
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/{{ nci.name }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ nci.name }}_access.log combined
</VirtualHost>
