[Unit]
Description=Preview generator service for {{ nci.name }}

[Service]
Type=oneshot
User={{ nci.www.user }}
ExecStart=/usr/bin/php -f {{ nci.www.dir }}/occ preview:pre-generate

[Install]
WantedBy=basic.target
