{# EXAMPLE Apache vhost on the TLS-terminating proxy #}
<VirtualHost *:80>
   ServerAdmin {{ nci.superuser.email }}
   ServerName {{ nci.name }}

   Redirect permanent "/" "https://{{ nci.name }}/"

   ErrorLog ${APACHE_LOG_DIR}/{{ nci.name }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ nci.name }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
   ServerAdmin {{ nci.superuser.email }}
   ServerName {{ nci.name }}

   ProxyPreserveHost On
   ProxyRequests Off
   ProxyPass / http://{{ vhost_ip }}:{{ vhost_port }}/
   ProxyPassReverse / http://{{ vhost_ip }}:{{ vhost_port }}/

   # https://docs.nextcloud.com/server/20/admin_manual/configuration_server/reverse_proxy_configuration.html
   RewriteEngine On
   RewriteRule ^/\.well-known/carddav https://%{SERVER_NAME}/remote.php/dav/ [R=301,L]
   RewriteRule ^/\.well-known/caldav https://%{SERVER_NAME}/remote.php/dav/ [R=301,L]

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ nci.name }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ nci.name }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ nci.name }}/chain.pem

   ErrorLog ${APACHE_LOG_DIR}/{{ nci.name }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ nci.name }}_access.log combined
</VirtualHost>
